{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "jsx": true,
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:monorepo/recommended"],
  "rules": {
    // Currently broken, see https://github.com/typescript-eslint/typescript-eslint/issues/170
    "@typescript-eslint/no-extraneous-class": "off",
    // Until https://github.com/typescript-eslint/typescript-eslint/pull/167 is merged
    "no-useless-constructor": "off"
  }
}
